/* Primary Colors */
$cornflower: #4C84FF;
$lightCornflower: #749FFF;
$verylightCornflower: #9FBBF9;
$blueAlice: #F5F6FA;
/* Secondary colors */
$turquoise: #29CC97;
$carminePink: #F15642;
/* Text Color */
$navyBlue: #363F55;
$gray: #9FA1A2;
$veryPaleBlue: #BEC5D2;
