.formNewDeal{
  box-sizing: border-box;
  padding: 40px 40px 55px 40px;
  background-color: #ffffff;
  width: 645px;
}


.dFlex{
  display: flex;
}

.alignBottom{
  align-items: flex-end;
}

.row{
  margin-bottom: 10px;
}